# dependencies
node_modules

# next
.next
out
.yarn/cache

# prisma
prisma/dev.db
prisma/dev.db-journal

# env
.env
.env.local
.env.*.local

# uploads
uploads

# server logs (local run)
srv.log
srv.err.log

# misc
*.tsbuildinfo
.DS_Store